<div class="w-full bg-gray-100 bg-opacity-60 py-3 flex justify-center">
  <div class="flex flex-row gap-5">
    <div
      class="flex flex-row gap-3 bg-white items-center p-2 text-gray-500 rounded-sm"
    >
      <div>
        <!-- https://feathericons.dev/?search=calendar&iconset=feather -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <rect height="18" rx="2" ry="2" width="18" x="3" y="4" />
          <line x1="16" x2="16" y1="2" y2="6" />
          <line x1="8" x2="8" y1="2" y2="6" />
          <line x1="3" x2="21" y1="10" y2="10" />
        </svg>
      </div>
      <h1>January 2024 - May 2024</h1>
      <div>
        <!-- https://feathericons.dev/?search=chevron-down&iconset=feather -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon cursor-pointer"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <polyline points="6 9 12 15 18 9" />
        </svg>
      </div>
    </div>
    <div class="bg-white p-2 rounded-sm">
      <!-- https://feathericons.dev/?search=more-horizontal&iconset=feather -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon cursor-pointer"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <circle cx="12" cy="12" r="1" />
        <circle cx="19" cy="12" r="1" />
        <circle cx="5" cy="12" r="1" />
      </svg>
    </div>
  </div>
</div>

<div class="px-3 mt-3 mb-5 items-center text-gray-500 flex justify-between">
  <div>
    <app-shopping-logistics-type></app-shopping-logistics-type>
  </div>
  <div class="gap-2 py-2 items-center">
    <input
      type="text"
      placeholder="Search ..."
      class="py-2 mt-1 mb-1 rounded-sm px-2 icon-input bg-white w-[210px] border border-gray-300"
    />
    <div class="flex flex-row gap-[10px] pt-2">
      <div
        class="flex flex-row gap-2 items-center p-2 bg-gray-200 border border-gray-300 w-[100px] rounded-sm"
      >
        <h1 class="text-black-500">Monthly</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <polyline points="6 9 12 15 18 9" />
        </svg>
      </div>
      <div
        class="flex flex-row gap-2 items-center bg-gray-200 p-2 border border-gray-300 w-[100px] rounded-sm"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
        </svg>
        <h1 class="text-black-500">Filter</h1>
      </div>
    </div>
  </div>
</div>
<div class="px-3">
  <app-shipping-logistics-chart></app-shipping-logistics-chart>
</div>
<div class="w-full bg-gray-100 bg-opacity-60 py-3 px-2">
  <input
    type="text"
    placeholder="Search by product ID,name amount ..."
    class="py-2 mt-1 mb-1 rounded-sm px-2 icon-input bg-white w-[50%] border border-gray-200"
  />
</div>
