<div class="text-gray-500 px-10 cursor-pointer">
  <ul class="border-b py-4 grid grid-cols-7 text-gray-500">
    <li class="flex flex-row items-center gap-2">
      <input type="checkbox" />

      <h1 class="text-blue-500 overflow-clip text-ellipsis">
        37332579839783979730303850938059385
      </h1>
    </li>
    <li class="">2/19/21</li>
    <li>1-4 Days</li>
    <li class="flex justify-start">
      <h1 class="text-green-800 bg-green-100 p-1">Delivered</h1>
    </li>
    <li class="text-black">123KG</li>
    <li class="">Helsinki 12Drive ,Finland</li>
    <li>Helsinki 12Drive ,Finland</li>
  </ul>
</div>
