<div class="text-gray-500 px-10">
  <ul class="border-b py-4 grid grid-cols-7">
    <li class="ml-7">TRACKING ID</li>
    <li class="flex flex-row gap-2 items-center">
      <h1>DATE SHIPPED</h1>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="text-black-300 cursor-pointer"
      >
        <polyline points="6 9 12 15 18 9" />
      </svg>
    </li>
    <li class="flex flex-row gap-2 items-center">
      <h1>ETA</h1>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="text-black-300 cursor-pointer"
      >
        <polyline points="6 9 12 15 18 9" />
      </svg>
    </li>
    <li>STATUS</li>
    <li>WEIGHT</li>
    <li>ORIGIN</li>
    <li>DESTINATION</li>
  </ul>
</div>
