<div class="text-gray-500 px-10">
  <div class="py-4 flex justify-between">
    <button
      class="flex flex-row items-center justify-end gap-3 py-1 px-2 bg-white shadow-sm border border-gray-200 rounded-lg text-black"
    >
      <div>
        <!-- https://feathericons.dev/?search=arrow-right&iconset=feather -->
        <!-- https://feathericons.dev/?search=arrow-left&iconset=feather -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <line x1="19" x2="5" y1="12" y2="12" />
          <polyline points="12 19 5 12 12 5" />
        </svg>
      </div>
      <h1>Previous</h1>
    </button>
    <ul class="flex flex-row gap-4">
      <li class="text-blue-500">1</li>
      <li>2</li>
      <li>3</li>
      <li>...</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
    <button
      class="flex flex-row items-center justify-end gap-3 py-1 px-2 bg-white shadow-sm border border-gray-200 rounded-lg text-black"
    >
      <h1>Next</h1>
      <div>
        <!-- https://feathericons.dev/?search=arrow-right&iconset=feather -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <line x1="5" x2="19" y1="12" y2="12" />
          <polyline points="12 5 19 12 12 19" />
        </svg>
      </div>
    </button>
  </div>
</div>
