<div>
  <div
    class="tabs flex justify-start cursor-pointer gap-5 text-gray-500 border-b-2 mb-7 text-2xl"
  >
    <h1
      class="text-black"
      (click)="setTab('shipping-management')"
      [ngClass]="{ 'active-tab': isTabActive('shipping-management') }"
    >
      Shipping Management
    </h1>
    <h1
      (click)="setTab('logistics')"
      [ngClass]="{ 'active-tab': isTabActive('logistics') }"
    >
      Logistics
    </h1>
  </div>
  <div>
    <app-product-filter></app-product-filter>
  </div>
  <div *ngIf="isTabActive('shipping-management')">
    <app-product-inventory></app-product-inventory>
    <app-product-inventory-info></app-product-inventory-info>
    <app-product-inventory-info></app-product-inventory-info>
    <app-product-inventory-info></app-product-inventory-info>
    <app-product-inventory-info></app-product-inventory-info>
    <app-product-inventory-info></app-product-inventory-info>
    <app-product-inventory-info></app-product-inventory-info>
  </div>
  <div *ngIf="isTabActive('logistics')" class="text-center py-5">
    shipping logistics content
  </div>
</div>
