<div class="flex flex-row gap-5">
  <div class="border-l-2 border-gray-300">
    <div class="ml-1">
      <H1 class="text-gray-500 text-md">Orders to ship</H1>
      <H1 class="text-black font-bold text-2xl">106</H1>
    </div>
  </div>
  <div class="border-l-2 border-gray-300">
    <div class="ml-1">
      <H1 class="text-gray-500 text-md">Overdue Shipments</H1>
      <H1 class="text-black font-bold text-2xl">20</H1>
    </div>
  </div>
  <div class="border-l-2 border-gray-300">
    <div class="ml-1">
      <H1 class="text-gray-500 text-md">Late shipments</H1>
      <H1 class="text-black font-bold text-2xl">12</H1>
    </div>
  </div>
</div>
